@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}


h4{
  font-size: 14px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFF;
}

h5{
  font-size: 20px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: #FFF;
}

.contact-info{
  padding: 30px 0 0 0;
  font-size: 23px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
}

.script-font {
  font-family: monospace;
}
.head-title {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.section-title {
  color: #FFF;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #01E675;
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-danger:hover {
  background-color: #f55262;
  border-color: #f55262;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-border:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #00b4d9;
}

.social-icon li {
  display: inline-block;
}
.social-icon li a {
  color: #000;
  padding: 10px;
  margin: 0 5px;
  background: #fff;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.contact-icon li {
  display: inline-block;
}
.contact-icon li a {
  color: #000;
  padding: 10px;
  margin: 0 5px;
  background: #f2f2f2;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}



.contact-icon li a:hover, .social-icon li a:hover {
  color: #fff;
  /* padding: 4px; */
}

.contact-icon li .facebook:hover, .social-icon li .facebook:hover {
  background: #3b5999;
}

.contact-icon li .twitter:hover, .social-icon li .twitter:hover {
  background: #4A9CEC;
}

.contact-icon li .instagram:hover, .social-icon li .instagram:hover {
  background: #D6274D;
}

.contact-icon li .whatsapp:hover, .social-icon li .whatsapp:hover {
  background: #228B22;
}

.contact-icon li .linkedin:hover, .social-icon li .linkedin:hover {
  background: #1260A2;
}

.contact-icon li .google:hover, .social-icon li .google:hover {
  background: #CE332A;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #00b4d9;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

.section-padding {
  padding: 60px 0;
}

#about .img-thumb img {
  border: 8px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.profile-wrapper {
  padding: 45px 0;
}

.profile-wrapper .btn {
  margin: 10px 10px 0px 0px;
}

.profile-wrapper .btn i {
  vertical-align: middle;
  margin-right: 5px;
}

.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: #040404;
  position: relative;
  width: 130px;
  display: inline-block;
  margin-bottom: 5px;
}

.about-profile .pro-title:after {
  position: absolute;
  content: ':';
  color: #040404;
  font-size: 14px;
  left: 122px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

.counter-section {
  background: url(../image/bg-skill.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.chart
{
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  font-size: 20px;
  color: #FFF;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.chart canvas
{
  position: absolute;
  top: 0;
  left: 0;
}
.percent
{
  display: inline-block;
  line-height: 152px;
  z-index: 2;
}


/************************************************ Resume ************************************************/
.timeline {
  position: relative;
}

.timeline .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.timeline li {
  padding: 0 20px 20px 30px;
  list-style: none;
  border-left: 2px solid #f1f1f1;
}

.timeline li .content-text {
  background: #f2f2f2;
  padding: 20px;
}

.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timeline li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timeline li .line-text {
  color: #888;
  line-height: 18px;
}

.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timeline li:last-child {
  padding: 0 20px 0px 30px;
}

.timeline li:before {
  content: "";
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: 18px;
  border-color: #00b4d9 !important;
}

.timeline li:first-child i {
  font-size: 20px;
  float: left;
  margin-left: -30px;
  line-height: 50px;
  border-radius: 30px;
  margin: -12px -55px;
  background: #00b4d9;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}


/************************************************ HERO AREA ************************************************/
.hero-area-bg {
  background: url('../image/background.jpg') no-repeat;
  background-size: cover;
}

#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
}

#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0c0808;
  opacity: 0.6;
}

#hero-area .contents {
  padding: 175px 0px 120px;
}

#hero-area .contents h5 {
  font-size: 50px;
}

#hero-area .contents .head-title {
  color: #fff;
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

#hero-area .contents p {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

#hero-area .contents .btn {
  margin: 25px 0px;
  text-transform: uppercase;
}


/************************************************ SERVICE ITEM ************************************************/
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.45),  rgba(0, 0, 0, 0.45) ), url('../image/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.services-item {
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 7%;
}

.services-item .services-content img{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.services-item .services-content .services-imgHover{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.services-item .services-content .services-imgHover h5 {
  color: #FFF;
  width: 105%;
  text-align: center;
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -600%, 0);
  transform: translate3d(0, -600%, 0);
}

.services-item .services-content .services-imgHover span {
  width: 105%;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 600%, 0);
  transform: translate3d(0, 600%, 0);
}

.services-item:hover .services-content .services-imgHover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.9);
  left: -5%;
  width: 105% ;
  height: 100%;
  cursor: pointer;
  /* margin-left: 1px; */
}
.services-item:hover .services-content .services-imgHover h5 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.services-item:hover .services-content .services-imgHover span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-content{
  -webkit-border-radius: 2% !important;
  -moz-border-radius: 2% !important;
  border-radius: 2% !important; 
}
.modal-body{
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 2%;
}
.modal-hr{
  width: 70%;
  height: 0.2%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 180, 217, 0.75), rgba(255, 255, 255, 0));
}
.modal-h5{
  margin: 3% 0;
  color: #00b4d9;
}
.modal-img{
  margin-top: 5%;
}
.modal-desc{
  margin-top: 3%; 
  font-size: 110%;
  color: #FFF;
  border-radius: 20px;
  width: 70%;
  background: #00b4d9;
  margin: 5% auto;
  border: 2px solid #00b4d9;
}
.carousel{
  background: #f2f2f2;
}
/* Footer Area Start */
.footer-area {
  background: #1C1C20;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #00b4d9;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #00b4d9;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #00b4d9;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #00b4d9;
}
